body{
    display: block;
    font-family: 'Yu Gothic Medium';
}

/* 正解数 */
#correctCounter{
    color: orangered;
    font-weight: bold;
    font-size: x-large;

    text-align: right;

    margin-right: 20px;
}

/* 結果 */
#resultText{
    color: blue;
    font-weight: bold;
    font-size: x-large;
    
    text-align: center;
    
    margin: 20px 0 20px 0;
}

/* 問題文 */
#questionBox{
    color: white;
    font-weight: 500;
    font-size: x-large;

    background-color: darkgreen;

    border: 5px solid saddlebrown;
    border-radius: 5px;

    padding: 10px 10px 10px 20px;
}

/* 解答群 */
#answerGroup{

    margin-top: 20px;
}

/* 選択肢 */
.answer{
    display: block;
    font-size: large;

    background-color: mintcream;

    border: 1px solid turquoise;
    border-radius: 5px;

    padding: 20px 0px 20px 20px;
    margin: 20px 20px 20px 20px;

    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 1);
}

/* ラジオボタン */
.answerButton{
    display: none;
}

/* 選択状態 */
.answerButton:checked + label{
    background-color: paleturquoise;
    border: 1.5px solid aqua;
}

/* 解答ボタン */
#confirmButton{
    font-size: large;

    background-color: mintcream;

    border: 1px solid turquoise;
    border-radius: 5px;

    padding: 15px 100px 15px 100px;
    margin-top: 20px;

    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 1);
}
#confirmButtonArea{
    text-align: center;
}