body{
    display: block;
    font-family: 'Yu Gothic Medium';
}

main{
    background-color: honeydew;

    border-style: solid;
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
}

#questionSettings{
    border-style: solid;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
}

/* 解答群 */
#answerGroup{
    color: white;
    background-color: seagreen;

    border: 2px solid saddlebrown;
    border-radius: 5px;

    padding: 0px 10px 0px 10px;
    margin-top: 20px;
}

/* 選択肢 */
.answer{
    display: block;
    font-size: large;

    color: black;
    background-color: mintcream;

    border: 1px solid orange;
    border-radius: 5px;

    padding: 5px 0px 5px 20px;
    margin: 15px 20px 15px 20px;

    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 1);
}

/* ラジオボタン */
.answerButton{
    display: none;
}

/* 選択状態 */
.answerButton:checked + label{
    background-color: paleturquoise;
    border: 1.5px solid aqua;
}

/* 解答ボタン */
#startButton{
    font-size: large;

    background-color: mintcream;

    border: 1px solid turquoise;
    border-radius: 5px;

    padding: 15px 100px 15px 100px;
    margin-top: 20px;

    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 1);
}
#startButtonArea{
    text-align: center;
}

#test{
    font-size: small;
    line-height: 3px;
}